In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('C:/Users/OneYoung/Downloads/aurora_sdg_v5_worldwide_set_doi_sdg_targets_2009-2020.csv')
df

                                        doi sdg_target sdg_goal        date
0        10.1002/j.1839-4655.2010.tb00165.x        1.1    SDG01  2010-01-01
1        10.1002/j.1839-4655.2010.tb00187.x        1.1    SDG01  2010-01-01
2                          10.1002/joc.1872        1.1    SDG01  2010-01-01
3                            10.1002/sd.407        1.1    SDG01  2010-01-01
4                            10.1002/wcc.87        1.1    SDG01  2010-01-01
...                                     ...        ...      ...         ...
1391587       10.1080/26410397.2021.1907026        3.1    SDG03  2022-01-01
1391588   10.1590/1984-0462/2022/40/2020302        3.3    SDG03  2022-01-01
1391589       10.1080/26410397.2021.1878656        3.7    SDG03  2022-01-01
1391590       10.1080/26410397.2021.1907026        3.7    SDG03  2022-01-01
1391591            10.33263/BRIAC121.883892        3.3    SDG03  2022-02-15

[1391592 rows x 4 columns]